---
import MainLayout from '../layouts/MainLayout.astro';
import WordCount from '../components/WordCount.astro';
import sluggify from '../mixins/sluggify';
import PostBy from '../components/PostBy.astro';
import RelatedArticles from '../components/RelatedArticles.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('posts');

console.log(posts);
// const featured = posts
//   .sort((a, b) => a.data.date.localeCompare(b.data.date))
//   .reverse()
//   .slice(0, 1)[0];

// console.log(featured);

// const { title, authors, image, image_credit, image_url, tags, date } =
//   featured.data;

// const rawContent = featured.rawContent();

// const content = await featured.render();
---

 <!-- <MainLayout
  title={title}
  image={image}
  imageCredit={image_credit}
  imageUrl={image_url}
>
 <div class="container" data-pagefind-body>
    <article>
      <h1 class="py-4 p-0 text--size-2xl">{title}</h1>

      <div
        class="author flex flex--align-center flex--justify-between py-2 border-b border-t border--color-light mb-4"
      >
        <p class="p-0 m-0">
          Written by <a href={`/authors/${sluggify(authors)}`}>{authors}</a>
        </p>
        <WordCount content={rawContent} />
      </div>

      <Fragment set:html={content} />
    </article>
    <PostBy date={date} authors={authors} tags={tags} />
    <RelatedArticles currentTitle={title} tags={tags} />
  </div>
</MainLayout> -->
