---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import RelatedArticles from '../components/RelatedArticles.astro';

const posts = await getCollection('posts');

const featured = posts
  .reverse()
  .slice(0)
  .at(0)

const { title, authors, image, image_credit, image_url, tags, date } =
  featured.data;

const { Content } = await featured.render();
---

<MainLayout
  title={title}
  image={image}
  imageCredit={image_credit}
  imageUrl={image_url}
>
 <div class="container" data-pagefind-body>
    <article>
      <h1 class="py-4 p-0 text--size-2xl">{title}</h1>

      <div
        class="author flex flex--align-center flex--justify-between py-2 border-b border-t border--color-light mb-4"
      >
        <p class="p-0 m-0">
          <!-- Written by <a href={`/authors/${sluggify(authors)}`}>{authors}</a> -->
        </p>
        <!-- <WordCount content={rawContent} /> -->
      </div>

      <Content />
    </article>
    <!-- <PostBy date={date} authors={authors} tags={tags} />-->
    <RelatedArticles currentTitle={title} tags={tags} /> 
  </div>
</MainLayout>
