---
import sluggify from '../mixins/sluggify';
import { site } from '../data/config.json';

const authors = await Astro.glob('../pages/authors/*.md');
const posts = await Astro.glob('../pages/*.md').then((posts) =>
  posts
    .sort((a, b) => a.frontmatter.date.localeCompare(b.frontmatter.date))
    .reverse()
    .slice(0, 20)
    .map((post) => {
      const author = authors.filter(
        (a) => a.frontmatter.author === post.frontmatter.authors
      );
      return {
        ...post,
        avatar: author.length ? author[0].frontmatter.avatar : null,
        slug: author.length
          ? `/authors/${sluggify(post.frontmatter.authors)}`
          : null,
      };
    })
);
---

<div class="ui sidebar very wide vertical">
  <div class="close ui right floated">&times;</div>

  <div class="logo">
    <a href={site.url}>
      <img src="/images/logos/RIMdev.svg" alt={site.user_description} />
    </a>
  </div>
  <div class="ui vertical post-articles">
    {
      posts.map((post) => (
        <article>
          <header>
            <a title={post.frontmatter.title} href={post.url}>
              <h3>{post.frontmatter.title}</h3>
            </a>
          </header>
          <author>
            <div class="ui horizontal list">
              <div class="item">
                <div class="ui avatar image">
                  <img src={post.avatar} alt={post.frontmatter.author} />
                </div>
                <div class="content">
                  <a href={post.slug}>{post.frontmatter.authors}</a>
                </div>
              </div>
            </div>
          </author>
          <p />

          {Array.from(post.frontmatter.tags).map((tag) => (
            <a class="ui basic label orange tiny" href={`/tags/#${tag}`}>
              {tag}
            </a>
          ))}

          <div class="read-now">
            <a href={post.url}>Read now </a>
            <i class="icon space shuttle large" />
          </div>
        </article>
      ))
    }
  </div>
</div>
