---
import Head from '../components/Head.astro';
import Masthead from '../components/Masthead.astro';
import Sidebar from '../components/Sidebar.astro';
import SearchModal from '../components/SearchModal.astro';
import Footer from '../components/Footer.astro';
import { site } from '../data/config.json';

const { title, image, authorImage, author, imageCredit, imageUrl, url, redirect } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} image={image} permalink={url} redirect={redirect} />
  <body class="background--white">
    <Masthead
      authorImage={authorImage}
      author={author}
      postImage={image ? image : site.default_image}
      imageCredit={imageCredit}
      imageUrl={imageUrl}
    />
    <main>
      <Sidebar />
      <SearchModal />
      <slot />
      <Footer />
    </main>
  </body>
</html>
