---
import MainLayout from './MainLayout.astro';
import sluggify from '../mixins/sluggify';
import WordCount from '../components/WordCount.astro';
const { frontmatter, rawContent } = Astro.props;
let authors;

if (typeof frontmatter.authors == 'object') {
  authors = Array.from(frontmatter.authors);
}

const content = rawContent();
---

<MainLayout
  title={frontmatter.title}
  image={frontmatter.image}
  imageCredit={frontmatter.image_credit}
  imageUrl={frontmatter.image_url}
>
  <div class="container" data-pagefind-body>
    <article>
      <h1 class="py-4 p-0 text--size-2xl">{frontmatter.title}</h1>

      <div
        class="author flex flex--align-center flex--justify-between py-2 border-b border-t border--color-lighter mb-4"
      >
        <p class="p-0 m-0">
          Written by
          {
            authors ? (
              authors.map((author) => (
                <a href={`/authors/${sluggify(author)}`}>{author}</a>
              ))
            ) : (
              <a href={`/authors/${sluggify(frontmatter.authors)}`}>
                {frontmatter.authors}
              </a>
            )
          }
        </p>
        <WordCount content={content} />
      </div>

      <slot />
    </article>
  </div>
</MainLayout>
