---
import MainLayout from '../../layouts/MainLayout.astro';

const title = '{Open source} things we made for you';
const image = 'https://c2.staticflickr.com/4/3029/2911413043_be72010c6e_b.jpg';
const imageCredit = 'Robert Stringer';
const imageUrl = 'https://www.flickr.com/photos/rmstringer';
---

<MainLayout
  title={title}
  image={image}
  imageCredit={imageCredit}
  imageUrl={imageUrl}
  url="/open-source"
>
  <div class="container" data-pagefind-body>
    <div class="block-container">
      <h1 class="py-4 p-0 text--size-2xl border-b border--color-light">
        {title}
      </h1>
      <h2>
        We're pretty transparent about what we do and how we do it (when we can
        be anyway).
      </h2>
      <div class="divider hidden"></div>
    </div>
  </div>

  <div class="platform-ui block-container text--white flex--justify-center mt-5">
    <svg id="rocket-animation" role="presentation" viewBox="0 10 1920 600" preserveAspectRatio="xMinYMin slice">
      <title>Platform UI Rocket</title>
      <desc>Animation of a rocket ship flying through space.</desc>
      <defs>
        <mask id="mask-frame">
          <g>
            <path id="hidden" d="M-1 726.516V770h1921.75V667.977c-191.655 120.937-310.542 117.863-587.262 23.573-276.719-94.29-374.808-84.778-463.536-77.063-193.951 16.865-279.508 93.461-438.185 105.831-109.544 8.541-176.617-37.183-204.504-92.956-27.888-55.774 7.229-132.205 7.229-132.205-69.201 19.624-105.351 88.825-153.895 168.355C32.053 743.041-.998 726.516-.998 726.516ZM1920.75-11.591v-.407H-1v738.514l.319-738.107h1921.43Z"></path>
            <path id="visible" fill="#fff" d="M1920 668.448V0H0v726.908c5.855 1.97 36.968 8.077 80.595-63.396 48.544-79.53 84.694-148.731 153.895-168.355 0 0-35.117 76.431-7.229 132.205 27.887 55.773 94.96 101.497 204.504 92.956 158.677-12.37 244.234-88.966 438.185-105.831 88.728-7.715 186.817-17.227 463.536 77.063 276.36 94.168 395.298 97.356 586.514-23.102Z"></path>
          </g>
        </mask>
        <linearGradient id="_Linear1" x1="0" x2="1" y1="0" y2="0" gradientTransform="translate(535.75 247.575) scale(69.6422)" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#1f1043"></stop>
          <stop offset=".04" stop-color="#1f1043"></stop>
          <stop offset=".96" stop-color="#15103a"></stop>
          <stop offset="1" stop-color="#15103a"></stop>
        </linearGradient>
        <linearGradient id="_Linear2" x1="0" x2="1" y1="0" y2="0" gradientTransform="translate(279.202 323.603) scale(429.334)" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#1f1043"></stop>
          <stop offset=".04" stop-color="#1f1043"></stop>
          <stop offset=".96" stop-color="#15103a"></stop>
          <stop offset="1" stop-color="#15103a"></stop>
        </linearGradient>
        <linearGradient id="_Linear3" x1="0" x2="1" y1="0" y2="0" gradientTransform="translate(600.557 307.035) scale(6.71311)" gradientUnits="userSpaceOnUse">
          <stop offset="0" stop-color="#1f1043"></stop>
          <stop offset=".04" stop-color="#1f1043"></stop>
          <stop offset=".96" stop-color="#15103a"></stop>
          <stop offset="1" stop-color="#15103a"></stop>
        </linearGradient>
      </defs>
      <g id="focus" mask="url(#mask-frame)">
        <path id="background" fill="#1c0d3f" fill-rule="nonzero" d="M-1 726.516s33.051 16.525 81.595-63.004c48.544-79.53 84.694-148.731 153.895-168.355 0 0-35.117 76.431-7.229 132.205 27.887 55.773 94.96 101.497 204.504 92.956 158.677-12.37 244.234-88.966 438.185-105.831 88.728-7.715 186.817-17.227 463.536 77.063 276.72 94.29 395.607 97.364 587.262-23.573V-11.591H-.682l-.319 738.107Z"></path>
        <path id="darker-spots" fill="#170e36" fill-rule="nonzero" d="M889.861 28.917c-82.41 0-155.419 68.792-211.666 106.017-59.379 39.3-135.076 71.146-215.234 72.977-1.685.039-3.367.057-5.051.057-32.001 0-63.786-6.773-95.325-13.547-31.541-6.774-62.835-13.549-93.86-13.548-12.832 0-25.62 1.159-38.358 3.956-60.437 13.273-127.007 57.421-112.612 110.867 2.788 10.354 9.606 19.557 22.026 25.831 14.052 7.1 31.192 9.215 48.619 9.215 16.058 0 32.36-1.797 46.694-3.146 14.93-1.404 29.989-2.426 44.993-2.426 17.852 0 35.625 1.448 52.985 5.42 42.639 9.756 76.065 33.37 101.198 60.793 22.208 24.23 50.965 47.132 87.431 56.941 16.923 4.552 33.721 6.736 50.157 6.736 38.041 0 74.11-11.712 105.071-32.892 41.428-28.34 88.283-60.417 142.459-60.414 3.804.001 7.654.159 11.531.488 35.577 3.02 69.241 25.698 91.108 47.399 21.869 21.704 28.779 24.535 53.627 53.212 46.529 53.701 72.69 114.665 151.853 146.241 15.885 6.336 32.024 9.159 47.864 9.193h.588c47.982-.109 93.174-25.746 120.296-56.697 33.241-37.935 50.555-83.465 91.594-117.463 43.427-35.977 105.732-63.676 170.512-63.675 12.528 0 25.15 1.036 37.745 3.248 37.476 6.584 70.718 9.5 100.086 9.5 228.632 0 220.926-176.952 122.265-178.464a114.71 114.71 0 0 0-1.664-.013c-23.015 0-51.008 7.112-79.188 14.224-28.181 7.111-56.549 14.222-80.321 14.222-2.696 0-5.335-.092-7.906-.285-48.454-3.644-100.487-15.804-126.99-47.083-9.405-11.1-15.015-24.024-25.794-34.366-16.863-16.18-43.555-23.111-71.021-23.111-15.891 0-32.046 2.322-46.696 6.516-39.969 11.445-72.742 33.668-108.223 51.822-29.574 15.13-64.033 27.878-98.886 27.878-6.963 0-13.943-.509-20.901-1.609-52.356-8.281-86.22-46.627-110.287-83.186-25.81-39.21-52.193-88.084-109.911-104.972-13.835-4.047-27.439-5.856-40.808-5.856"></path>
        <path fill="#3f3484" fill-rule="nonzero" d="M123.721 505.325c35.828-14.989 66.843-33.62 108.495-43.93 41.651-10.311 100.077-8.584 120.891 11.35 18.516 17.734-1.33 40.48-28.432 56.256-27.103 15.774-61.94 28.666-81.447 46.968-13.831 12.976-27.003 35.874-7.298 66.838 0 0 38.007 50.522 80.554 63.642 70.512 21.743 136.162 31.359 352.943-48.63 175.463-64.742 340.604-45.038 340.604-45.038 46.932-32.47 89.305-69.418 126.031-104.915 69.559-67.228 118.863-149.895 47.756-213.631-65.912-59.079-212.933-81.058-349.238-87.171-71.341-3.2-155.746-7.061-188.814-38.395-35.247-33.399 15.469-76.808 80.763-98.429 112.184-37.147 270.228-32.206 365.428 11.426 41.424 18.985 70.575 43.696 107.434 64.923 36.86 21.228 85.983 39.791 143.248 40.106 67.333.371 125.666-23.813 183.388-42.558 57.724-18.744 136.279-32.567 188.808-12.509 81.578 31.149 14.113 105.103 73.932 146.903 26.767 18.703 75.641 26.973 122.608 25.678l-1.137-110.214c-5.343.158-10.666.158-15.954-.019-70.312-2.36-103.653-34.514-107.586-65.777-3.932-31.262 11.589-64.947-4.082-94.41-9.087-17.083-29.667-31.609-57.791-42.631l-330.303 3.407c-35.446 7.63-70.977 15.055-107.525 19.403C1170.321 27.849 1066.79 8.576 957.63-.927L751.646 1.198c-104.179 13.058-205.758 43.823-273.539 84.71-32.297 19.482-57.618 41.549-63.732 63.508-6.115 21.96 9.247 43.656 46.843 54.244 33.673 9.482 79.623 9.22 121.336 12.168 130.93 9.254 228.823 54.971 243.644 113.785 14.821 58.813-54.11 128.026-171.56 172.261-21.326 8.032-46.385 15.666-71.366 15.91-54.578.533-62.341-31.702-45.23-56.186 17.112-24.484 45.545-52.583 18.803-71.111-32.479-22.501-120.162-12.22-182.044 5.364-61.881 17.583-123.753 41.749-190.476 43.502-75.797 1.992-121.116-25.396-180.148-41.811l1.452 140.741c42.74-7.215 83.14-18.334 118.092-32.958" opacity=".27"></path>
        <path id="exhaust" class="hide show:tablet" fill="#34296c" fill-rule="nonzero" d="M306.047 699.1s-40.701-166.504 332.809-223.606c276.007-42.201 351.709-121.903 344.008-174.704-7.5-51.502-170.604-65.202-233.305-75.802-135.904-23.001-80.502-50.501 69.301-88.102 238.306-59.802 93.203-118.203 32.101-151.504h-66.002s111.803 48.201 28.501 90.902c-33.601 17.201-184.605 68.802-239.706 90.002-140.603 54.302-71.202 107.703 33.901 120.903 207.905 26.001 145.104 61.802-127.903 77.502C405.75 368.892 74.341 290.69.64 532.496l-.4 193.105s17.8 8.4 46.201-17.801c28.4-26.201 68.401-99.502 84.402-123.903 16-24.401 55.801-77.702 104.903-89.602 0 0-19.801 48.301-17.901 79.902 1.3 28.9 5.1 58.701 38.301 90.702 27.801 26.501 49.901 34.201 49.901 34.201"></path>
        <g id="stars" fill-rule="nonzero">
          <path fill="#fff" d="M323.15 400.796a3.704 3.704 0 1 0 4.522-5.869 3.704 3.704 0 0 0-4.522 5.869M901.199 439.504a3.602 3.602 0 1 0-.654-5.05 3.6 3.6 0 0 0 .654 5.05M18.295 251.349a3.602 3.602 0 0 0 4.396-5.704 3.6 3.6 0 1 0-4.396 5.704M471.748 595.893a3.6 3.6 0 1 0 4.395-5.704 3.6 3.6 0 1 0-4.395 5.704M1794.24 131.765a2.317 2.317 0 1 0 2.829-3.67 2.317 2.317 0 0 0-2.829 3.67M292.996 55.119a2.318 2.318 0 1 0 2.83-3.673 2.318 2.318 0 0 0-2.83 3.673M1882.29 232.381a2.317 2.317 0 1 0 2.829-3.671 2.317 2.317 0 0 0-2.829 3.671M1489.29 134.854a2.317 2.317 0 1 0 2.829-3.67 2.317 2.317 0 0 0-2.829 3.67M270.703 646.985a2.317 2.317 0 1 0 2.829-3.67 2.317 2.317 0 0 0-2.829 3.67M1410.52 90.222a2.317 2.317 0 1 0 3.26 3.294 2.317 2.317 0 0 0-3.26-3.294M952.025 537.876a2.317 2.317 0 1 0 3.26 3.294 2.317 2.317 0 0 0-3.26-3.294M655.033 491.039a1.338 1.338 0 1 0 1.882 1.902 1.338 1.338 0 0 0-1.882-1.902M1142.69 10.184a1.338 1.338 0 1 0 1.882 1.902 1.338 1.338 0 0 0-1.882-1.902M1498.7 175.637a2.317 2.317 0 1 0 3.26 3.294 2.317 2.317 0 0 0-3.26-3.294M761.19 198.86a2.317 2.317 0 1 0 3.26 3.294 2.317 2.317 0 0 0-3.26-3.294M1277.82 138.808a2.317 2.317 0 1 0 3.26 3.294 2.317 2.317 0 0 0-3.26-3.294M1208.1 308.005a2.317 2.317 0 1 0 3.26 3.294 2.317 2.317 0 0 0-3.26-3.294M1443.74 570.34a1.52 1.52 0 1 0 2.138 2.159 1.52 1.52 0 0 0-2.138-2.159M1518.29 458.679a1.52 1.52 0 1 0 2.138 2.16 1.52 1.52 0 0 0-2.138-2.16M1157.43 93.879a1.52 1.52 0 1 0 2.138 2.159 1.52 1.52 0 0 0-2.138-2.159"></path>
          <path fill="#ef4a8e" d="M1076.79 434.454a2.317 2.317 0 1 0 3.26 3.294 2.317 2.317 0 0 0-3.26-3.294"></path>
          <path fill="#fff" d="M1465.29 717.962a2.316 2.316 0 1 0 3.26 3.294 2.318 2.318 0 0 0-3.26-3.294"></path>
          <path fill="#ef4a8e" d="M1345.01 484.894a2.317 2.317 0 1 0 3.154-3.397 2.317 2.317 0 0 0-3.154 3.397M1909.55 320.498a2.317 2.317 0 1 0 3.154-3.397 2.317 2.317 0 0 0-3.154 3.397M190.586 508.925a2.318 2.318 0 1 0 3.152-3.4 2.318 2.318 0 0 0-3.152 3.4M656.602 415.51a2.317 2.317 0 1 0 3.154-3.397 2.317 2.317 0 0 0-3.154 3.397"></path>
          <path fill="#fff" d="M776.376 352.993a2.318 2.318 0 1 0 3.152-3.4 2.318 2.318 0 0 0-3.152 3.4"></path>
          <path fill="#ef4a8e" d="M337.163 246.285a3.687 3.687 0 1 0 5.015-5.407 3.687 3.687 0 0 0-5.015 5.407"></path>
          <path fill="#fff" d="M268.484 708.594a3.535 3.535 0 1 0 4.807-5.185 3.535 3.535 0 0 0-4.807 5.185M118.641 344.906a2.318 2.318 0 1 0 3.152-3.4 2.318 2.318 0 0 0-3.152 3.4M1244.71 118.435a2.318 2.318 0 1 0 3.152-3.4 2.318 2.318 0 0 0-3.152 3.4M933.16 91.234a2.318 2.318 0 1 0 3.152-3.4 2.318 2.318 0 0 0-3.152 3.4M133.667.909a3.705 3.705 0 0 0 5.513-4.949 3.704 3.704 0 0 0-5.513 4.949M1474.66 347.303a5.532 5.532 0 0 0 7.815.421 5.533 5.533 0 0 0 .421-7.815 5.534 5.534 0 0 0-8.236 7.394M1740.73 257.847a3.6 3.6 0 1 0 5.359-4.81 3.6 3.6 0 0 0-5.359 4.81M671.73 353.659a2.317 2.317 0 1 0 3.448-3.096 2.317 2.317 0 0 0-3.448 3.096M35.423 726.239a2.317 2.317 0 1 0 3.448-3.096 2.317 2.317 0 0 0-3.448 3.096M428.212 452.988a2.317 2.317 0 1 0 3.448-3.096 2.317 2.317 0 0 0-3.448 3.096M656.937 185.073a2.318 2.318 0 1 0 3.45-3.098 2.318 2.318 0 0 0-3.45 3.098M552.128 156.259a2.317 2.317 0 1 0 3.448-3.096 2.317 2.317 0 0 0-3.448 3.096M745.614 577.155a3.704 3.704 0 1 0-6.425-3.688 3.704 3.704 0 0 0 6.425 3.688M1266.1 203.263a5.535 5.535 0 1 0-9.6-5.51 5.535 5.535 0 0 0 9.6 5.51M291.83 443.949a5.535 5.535 0 1 0-9.6-5.512 5.535 5.535 0 0 0 9.6 5.512M1551.63 507.204a5.534 5.534 0 1 0-9.598-5.511 5.534 5.534 0 0 0 9.598 5.511M1477.93 510.872a3.6 3.6 0 0 0-1.331-4.915 3.6 3.6 0 1 0 1.331 4.915M987.062 88.809a3.6 3.6 0 1 0-6.244-3.585 3.6 3.6 0 0 0 6.244 3.585M1157.51 58.236a3.6 3.6 0 1 0-6.244-3.585 3.6 3.6 0 0 0 6.244 3.585M493.575 208.483a3.6 3.6 0 1 0-6.243-3.585 3.6 3.6 0 0 0 6.243 3.585M1468.84 597.174a3.6 3.6 0 1 0-6.243-3.585 3.6 3.6 0 0 0 6.243 3.585"></path>
          <path fill="#ef4a8e" d="M571.491 678.583a2.317 2.317 0 1 0 2.829-3.67 2.317 2.317 0 0 0-2.829 3.67M974.379 287.74a2.317 2.317 0 1 0 2.829-3.67 2.317 2.317 0 0 0-2.829 3.67M1281.47 320.696a2.767 2.767 0 1 0 3.895 3.934 2.767 2.767 0 0 0-3.895-3.934"></path>
          <path fill="#fff" d="M1481.4 185.767a3.6 3.6 0 1 0 5.066 5.119 3.6 3.6 0 0 0-5.066-5.119M1617.95 158.911a3.6 3.6 0 1 0 5.066 5.119 3.6 3.6 0 0 0-5.066-5.119M354.396 444.668a5.535 5.535 0 1 0 8.237-7.397 5.535 5.535 0 0 0-8.237 7.397M1769.35 373.483a5.534 5.534 0 1 0 8.236-7.394 5.534 5.534 0 0 0-8.236 7.394M1242.42 687.327a5.535 5.535 0 1 0 8.237-7.397 5.535 5.535 0 0 0-8.237 7.397M1209.77 471.918a3.6 3.6 0 1 0 5.358-4.81 3.6 3.6 0 0 0-5.358 4.81M778.618 229.535a3.6 3.6 0 0 0 5.084.274 3.6 3.6 0 0 0 .274-5.084 3.6 3.6 0 0 0-5.084-.274 3.599 3.599 0 0 0-.274 5.084M226.509 193.586a2.317 2.317 0 1 0 3.448-3.096 2.317 2.317 0 0 0-3.448 3.096M843.15 593.296a2.317 2.317 0 1 0-4.019-2.307 2.317 2.317 0 0 0 4.019 2.307M1842.9 122.938a2.317 2.317 0 1 0-4.019-2.307 2.317 2.317 0 0 0 4.019 2.307M1458.91 562.979a2.317 2.317 0 1 0-4.019-2.307 2.317 2.317 0 0 0 4.019 2.307M1284.76 702.059a1.546 1.546 0 1 0-2.681-1.54 1.546 1.546 0 0 0 2.681 1.54"></path>
          <path fill="#ef4a8e" d="M1095.71 536.057a2.318 2.318 0 1 0-4.02-2.308 2.318 2.318 0 0 0 4.02 2.308M1574.78 354.959a2.317 2.317 0 1 0-4.019-2.307 2.317 2.317 0 0 0 4.019 2.307"></path>
          <path fill="#fff" d="M934.444 37.857a3.6 3.6 0 1 0 4.395-5.704 3.6 3.6 0 1 0-4.395 5.704M733.398 88.95a2.317 2.317 0 1 0 2.829-3.67 2.317 2.317 0 0 0-2.829 3.67M1906.43 12.304a1.52 1.52 0 1 0 2.138 2.159 1.52 1.52 0 0 0-2.138-2.159M731.18 150.558a3.535 3.535 0 1 0 4.807-5.185 3.535 3.535 0 0 0-4.807 5.185M498.118 168.203a2.317 2.317 0 1 0 3.448-3.096 2.317 2.317 0 0 0-3.448 3.096M1208.31 19.119a3.704 3.704 0 1 0-6.425-3.688 3.704 3.704 0 0 0 6.425 3.688"></path>
          <path fill="#ef4a8e" d="M1034.19 120.547a2.317 2.317 0 1 0 2.829-3.67 2.317 2.317 0 0 0-2.829 3.67"></path>
          <path fill="#fff" d="M1705.11 129.291a5.535 5.535 0 1 0 8.237-7.397 5.535 5.535 0 0 0-8.237 7.397M1305.85 35.26a2.317 2.317 0 1 0-4.019-2.307 2.317 2.317 0 0 0 4.019 2.307M1921.61 4.943a2.317 2.317 0 1 0-4.019-2.307 2.317 2.317 0 0 0 4.019 2.307M1747.45 144.023a1.546 1.546 0 1 0-2.681-1.54 1.546 1.546 0 0 0 2.681 1.54"></path>
        </g>
        <g id="rocket" class="hide show:tablet">
          <g id="rocket-inner">
            <g id="flame" fill-rule="nonzero">
              <g id="outer-flame">
                <path fill="#fbd879" d="M416.698 448.998c-73.67 66.81-116.487 67.322-131.96 64.209-2.011-.491-3.921-1.495-5.423-3.137a10.76 10.76 0 0 1-2.772-6.216c-1.607-16.019 3.25-58.446 75.677-125.318a2.35 2.35 0 0 1 3.318.132l61.322 67.013a2.351 2.351 0 0 1-.162 3.317"></path>
                <path fill="#f37b51" d="M353.695 383.111c-70.024 65.166-74.268 105.802-72.815 120.308a6.425 6.425 0 0 0 1.651 3.709c.824.9 1.915 1.52 3.243 1.844 14.136 2.846 54.975 2.51 126.495-61.85l-58.574-64.011Zm-57.449 135.513c-4.22.028-8.352-.333-12.368-1.141-3.17-.774-5.8-2.306-7.782-4.47a15.062 15.062 0 0 1-3.89-8.725c-1.982-19.761 5.397-62.791 77.058-128.956 1.325-1.217 3.081-1.825 4.841-1.772a6.638 6.638 0 0 1 4.65 2.166s16.22 13.131 31.778 29.686c10.475 11.146 29.544 37.327 29.544 37.327a6.641 6.641 0 0 1 1.744 4.83 6.666 6.666 0 0 1-2.195 4.659c-22.976 20.836-78.078 66.093-123.38 66.396"></path>
              </g>
              <g id="inner-flame">
                <path fill="#fff" d="M403.474 431.928c-41.841 37.945-66.158 38.236-74.946 36.468-1.142-.279-2.227-.849-3.08-1.782a6.108 6.108 0 0 1-1.575-3.53c-.912-9.098 1.847-33.195 42.982-71.175a1.335 1.335 0 0 1 1.884.075l34.827 38.06a1.335 1.335 0 0 1-.092 1.884"></path>
                <path fill="#f37b51" d="M368.826 395.446c-.006.003-.008.006-.011.009.003-.003.005-.006.011-.009m30.728 33.586c-.002.002-.002.005-.005.005l.005-.005Zm-.204 4.295c.003 0 .006.003.009.006l-.009-.006Zm-31.902-36.498c-37.835 35.676-41.023 58.295-40.235 66.159.039.391.192.736.455 1.024.212.231.514.394.897.488 7.583 1.533 30.553.62 69.653-34.104 0 0-7.546-10.449-14.359-17.903-6.623-7.243-16.411-15.664-16.411-15.664m-33.514 76.84c-2.855.019-5.272-.258-7.262-.659-2.243-.544-4.063-1.607-5.442-3.117a10.42 10.42 0 0 1-2.691-6.036c-1.161-11.57 3.059-36.675 44.363-74.809 1.109-1.032 2.584-1.535 4.089-1.509a5.64 5.64 0 0 1 3.96 1.836l34.834 38.068a5.638 5.638 0 0 1 1.484 4.1 5.662 5.662 0 0 1-1.867 3.955c-34.589 31.371-57.946 38.08-71.468 38.171"></path>
              </g>
            </g>
            <g id="window" fill-rule="nonzero">
              <path fill="#a6dff9" d="M538.501 212.065c-19.615 17.711-21.16 47.971-3.449 67.586 17.711 19.617 47.97 21.161 67.587 3.45 19.616-17.711 21.16-47.971 3.449-67.586-17.712-19.617-47.97-21.162-67.587-3.45"></path>
              <path fill="#1b73a4" d="M550.157 224.974c-12.486 11.274-13.469 30.535-2.196 43.021 11.274 12.487 30.536 13.47 43.021 2.197 12.486-11.275 13.469-30.535 2.196-43.022-11.273-12.486-30.535-13.469-43.021-2.196"></path>
              <path fill="url(#_Linear1)" d="M547.237 221.738c-6.903 6.232-10.967 14.781-11.441 24.07-.475 9.288 2.696 18.206 8.929 25.109 6.864 7.603 16.344 11.468 25.859 11.468 8.323 0 16.674-2.957 23.32-8.959 6.903-6.234 10.968-14.782 11.441-24.069.474-9.29-2.699-18.205-8.931-25.107-6.233-6.903-14.783-10.968-24.069-11.441a36.613 36.613 0 0 0-1.78-.044c-8.67 0-16.868 3.141-23.328 8.973Zm3.96 43.338c-4.671-5.174-7.048-11.859-6.694-18.824.355-6.963 3.401-13.371 8.575-18.043 4.985-4.499 11.24-6.715 17.479-6.715 7.132 0 14.238 2.897 19.386 8.597 4.671 5.174 7.049 11.857 6.695 18.821-.355 6.962-3.4 13.371-8.575 18.042-4.985 4.501-11.241 6.717-17.48 6.716-7.133 0-14.242-2.899-19.386-8.594Z"></path>
              <path fill="#a7dff9" d="M579.617 231.249c.916 3.443-3.494 7.606-9.851 9.298-6.357 1.692-12.253.272-13.169-3.171-.917-3.443 3.494-7.606 9.85-9.298 6.357-1.692 12.254-.272 13.17 3.171M575.271 263.593c-7.2 2.136-14.649-.065-19.567-5.075 3.101 8.587 12.384 13.377 21.25 10.747 8.865-2.63 14.033-11.708 11.95-20.596-1.39 6.881-6.434 12.788-13.633 14.924"></path>
            </g>
            <path fill="#a7dff9" fill-rule="nonzero" d="M699.056 154.101c.385 4.128.657 8.784.723 13.845l-40.907-41.11a174.48 174.48 0 0 1 17.884 2.563c12.185 2.41 21.145 12.335 22.3 24.702"></path>
            <path fill="url(#_Linear2)" fill-rule="nonzero" d="M529.129 160.234C459.384 220.478 413.377 273.82 403.56 285.486l-45.418-15.833a11.84 11.84 0 0 0-10.945 1.667l-65.49 48.466a6.144 6.144 0 0 0-2.418 5.984 6.11 6.11 0 0 0 4.22 4.845c12.755 4.007 58.321 21.457 109.152 77.752 50.828 56.299 63.547 103.406 66.234 116.501a6.124 6.124 0 0 0 4.391 4.694c.547.15 1.101.221 1.649.221a6.14 6.14 0 0 0 4.548-2.015l54.88-60.218a11.815 11.815 0 0 0 2.774-10.72l-11.123-46.795c12.607-8.578 70.355-48.915 137.387-112.166 54.254-51.191 57.342-112.527 54.35-144.534-1.515-16.241-13.287-29.281-29.288-32.445a184.18 184.18 0 0 0-35.513-3.468c-32.409-.001-74.308 8.681-113.821 42.812Zm104.645 19.642-40.806-43.782c-.746-.8-.396-2.125.647-2.454 17.24-5.427 33.693-7.385 48.205-7.487 2.602-.017 5.094 1.056 6.93 2.902l19.491 19.587c.876.88.839 2.312-.081 3.147l-31.143 28.225c-.442.4-.997.598-1.551.598a2.304 2.304 0 0 1-1.692-.736Zm25.112-52.995a174.361 174.361 0 0 1 17.885 2.564c12.184 2.41 21.145 12.335 22.3 24.701.386 4.128.657 8.785.723 13.846l-40.908-41.111Zm-140.98 58.387a2.609 2.609 0 0 1 .18-3.701 1235.689 1235.689 0 0 1 16.742-14.737c14.56-12.574 29.457-21.493 44.042-27.722 2.158-.923 4.663-.348 6.263 1.369l42.061 45.127c.92.989.855 2.538-.146 3.445l-21.664 19.634c-8.864-7.963-20.087-12.631-32.154-13.245-12.985-.634-25.498 3.499-35.53 11.657l-19.794-21.827Zm166.95 49.417-41.985-45.048a2.313 2.313 0 0 1 .137-3.29l31.457-28.509a2.175 2.175 0 0 1 3.004.077l18.907 19.003c2.06 2.07 3.072 4.939 2.83 7.849-1.24 14.896-4.6 31.904-11.863 49.466-.247.596-.82.923-1.4.923-.393 0-.789-.151-1.087-.471ZM457.232 341.968l-44.742-49.552a2.96 2.96 0 0 1-.062-3.908c11.142-13.054 44.65-51.076 94.265-96.612 1.633-1.497 4.191-1.389 5.679.252l19.015 20.966c-16.456 18.681-17.396 46.719-1.972 66.511l-68.475 62.522a2.605 2.605 0 0 1-1.764.685 2.61 2.61 0 0 1-1.944-.864Zm172.409-37.502-20.368-21.833c8.09-8.899 12.82-20.22 13.442-32.388.658-12.862-3.4-25.22-11.378-35.192l21.705-19.672a2.42 2.42 0 0 1 3.396.143l43.327 46.488c1.62 1.737 1.998 4.319.879 6.415-7.786 14.571-18.525 29.228-33.226 43.102a1238.215 1238.215 0 0 1-14.103 13.093c-.5.456-1.128.681-1.754.681a2.618 2.618 0 0 1-1.92-.837Zm-61.287-13.445c-11.603-.591-22.28-5.666-30.066-14.29-16.071-17.801-14.666-45.36 3.134-61.431 8.061-7.276 18.316-11.214 29.098-11.214.752 0 1.51.02 2.268.059 11.601.591 22.28 5.666 30.065 14.289 7.786 8.626 11.748 19.762 11.155 31.366-.593 11.603-5.669 22.28-14.291 30.065-8.056 7.275-18.341 11.215-29.082 11.215-.759 0-1.518-.02-2.281-.059Zm-184.157 65.795c-25.101-23.216-57.623-41.344-71.951-48.782l40.14-29.707a3.117 3.117 0 0 1 2.886-.44l44.645 15.565a10.647 10.647 0 0 1 4.4 2.919l20.59 22.805a4.847 4.847 0 0 1-.285 6.786l-33.012 30.881a5.347 5.347 0 0 1-3.669 1.449 5.507 5.507 0 0 1-3.744-1.476Zm125.835 43.629-43.448-48.12a2.617 2.617 0 0 1 .177-3.687l68.532-62.573c8.933 8.22 20.34 13.038 32.616 13.663.91.045 1.819.072 2.721.072 11.779 0 23.018-3.956 32.24-11.248l19.285 20.673c1.529 1.64 1.401 4.232-.271 5.724-51.38 45.858-93.643 76.057-107.974 85.958a2.934 2.934 0 0 1-1.671.522 2.97 2.97 0 0 1-2.207-.984Zm-140.044-26.846c-32.141-28.448-59.858-42.133-75.081-48.158-1.758-.696-2.049-3.06-.528-4.185l10.029-7.422c11.069 5.594 48.907 25.65 75.73 51.134.753.714.736 1.92-.021 2.629l-6.385 5.971a2.736 2.736 0 0 1-1.878.738 2.806 2.806 0 0 1-1.866-.707Zm25.151 24.449a453.778 453.778 0 0 0-14.692-14.803 2.79 2.79 0 0 1 .041-4.057l49.854-46.637a4.843 4.843 0 0 1 6.904.291l14.943 16.549-53.005 48.79a2.884 2.884 0 0 1-4.045-.133Zm23.339 27.704c-4.569-5.966-8.477-11.029-13.688-17.039-1.025-1.183-.945-2.972.208-4.033l53.034-48.818 15.727 17.418a4.846 4.846 0 0 1-.345 6.839l-50.842 46.008a2.777 2.777 0 0 1-1.871.721c-.838 0-1.67-.374-2.223-1.096Zm26.97-2.406a5.386 5.386 0 0 1 .896-6.969l32.905-29.779a4.846 4.846 0 0 1 6.847.346l19.169 21.232a10.66 10.66 0 0 1 2.458 4.675l10.933 45.998a3.11 3.11 0 0 1-.733 2.823l-34.781 38.165c-10.006-32.782-30.015-64.864-37.694-76.491Zm19.758 90.713c-4.323-15.331-14.652-43.176-38.275-76.804-.805-1.147-.649-2.723.39-3.664l7.478-6.767a1.789 1.789 0 0 1 2.695.328c7.16 10.8 29.588 46.3 38.762 80.24l-6.942 7.618a2.398 2.398 0 0 1-1.787.795c-1.015 0-2.007-.63-2.321-1.746Z"></path>
            <path fill="#d9f0fa" fill-rule="nonzero" d="M373.686 373.589c-1.046.978-2.672.98-3.744.031-32.142-28.449-59.858-42.133-75.081-48.159-1.759-.696-2.049-3.058-.529-4.183l10.03-7.422c11.068 5.593 48.907 25.649 75.73 51.132.753.714.736 1.92-.022 2.629l-6.384 5.972Z"></path>
            <path fill="#42bde2" fill-rule="nonzero" d="M469.267 515.031c-1.275 1.399-3.594.871-4.108-.951-4.323-15.331-14.651-43.176-38.274-76.804-.806-1.147-.649-2.724.39-3.664l7.478-6.767a1.787 1.787 0 0 1 2.694.328c7.16 10.8 29.589 46.3 38.763 80.241l-6.943 7.617Zm49.342-56.162a3.116 3.116 0 0 1-.732 2.824l-34.782 38.164c-10.006-32.78-30.015-64.863-37.694-76.491a5.386 5.386 0 0 1 .897-6.969l32.905-29.778a4.845 4.845 0 0 1 6.846.346l19.17 21.232a10.66 10.66 0 0 1 2.457 4.674l10.933 45.998Zm-100.177-33.096c-4.57-5.966-8.477-11.029-13.688-17.04-1.026-1.183-.945-2.972.207-4.033l53.035-48.816 15.726 17.418a4.845 4.845 0 0 1-.345 6.838l-50.841 46.009a2.797 2.797 0 0 1-4.094-.376Zm203.45-110.82c-51.38 45.858-93.644 76.057-107.975 85.957a2.957 2.957 0 0 1-3.879-.461l-43.447-48.12a2.617 2.617 0 0 1 .178-3.687l68.531-62.573c8.934 8.22 20.34 13.038 32.615 13.663.911.045 1.82.071 2.723.071 11.779 0 23.017-3.955 32.238-11.248l19.287 20.674c1.528 1.639 1.401 4.232-.271 5.724Zm-241.481 68.313a2.79 2.79 0 0 1 .041-4.057l49.853-46.638a4.843 4.843 0 0 1 6.904.291l14.944 16.551-53.006 48.79a2.88 2.88 0 0 1-4.045-.134 454.799 454.799 0 0 0-14.691-14.803Zm-28.062-104.918a3.117 3.117 0 0 1 2.886-.44l44.645 15.564a10.663 10.663 0 0 1 4.401 2.92l20.591 22.805a4.846 4.846 0 0 1-.287 6.785l-33.012 30.883c-2.089 1.954-5.312 1.915-7.412-.027-25.102-23.217-57.623-41.345-71.952-48.783l40.14-29.707Zm60.091 10.154c11.142-13.053 44.65-51.075 94.266-96.611 1.632-1.499 4.19-1.391 5.678.252l19.014 20.965c-16.455 18.682-17.395 46.719-1.972 66.511l-68.474 62.522a2.617 2.617 0 0 1-3.708-.179l-44.742-49.553a2.958 2.958 0 0 1-.062-3.907Zm268.216-40.076c-7.786 14.571-18.524 29.229-33.227 43.101a1222.377 1222.377 0 0 1-14.103 13.094 2.61 2.61 0 0 1-3.673-.156l-20.368-21.832c8.091-8.9 12.821-20.22 13.443-32.388.658-12.862-3.4-25.221-11.379-35.194l21.705-19.67a2.42 2.42 0 0 1 3.396.143l43.327 46.488c1.619 1.737 1.999 4.319.879 6.414Zm6.651-14.172c-.414 1.001-1.749 1.245-2.487.452l-41.986-45.049a2.312 2.312 0 0 1 .138-3.289l31.457-28.509a2.173 2.173 0 0 1 3.002.077l18.909 19.003c2.06 2.069 3.072 4.939 2.83 7.849-1.24 14.895-4.601 31.904-11.863 49.466Zm-169.214-52.693c5.417-4.852 10.99-9.767 16.743-14.736 14.558-12.574 29.457-21.492 44.041-27.723 2.158-.922 4.663-.348 6.263 1.369l42.06 45.129a2.42 2.42 0 0 1-.145 3.444l-21.664 19.634c-8.864-7.963-20.087-12.631-32.153-13.245-12.985-.634-25.499 3.499-35.53 11.656l-19.795-21.826a2.61 2.61 0 0 1 .18-3.702Zm75.486-47.9c17.24-5.427 33.693-7.384 48.204-7.486 2.603-.018 5.095 1.056 6.93 2.901l19.491 19.587c.876.88.839 2.313-.08 3.146l-31.143 28.225a2.31 2.31 0 0 1-3.244-.137l-40.805-43.782c-.746-.8-.396-2.126.647-2.454Z"></path>
            <path fill="#a6dff9" fill-rule="nonzero" d="M411.753 288.297c20.52-22.927 62.574-67.515 93.139-95.028 1.564-1.408 4.418-4.737 8.337-.356 4.717 5.274 9.813 11.051 9.813 11.051s-47.964 39.949-76.361 70.929c-4.539 4.95-12.884 17.844-6.746 31.538 6.139 13.694 17.406 35.771 17.406 35.771s-33.685-37.111-44.349-49.093c-1.239-1.392-2.357-3.562-1.239-4.812Zm-4.154 12.02s-1.973-5.044-8.332-7.237c-6.36-2.193-43.638-15.13-43.638-15.13s-1.973-.877-4.604 1.096c-2.633 1.974-38.813 28.946-38.813 28.946l13.745 7.593s17.311-16.49 32.004-18.465c14.691-1.973 25.297-3.821 49.638 3.197Zm179.255-144.833c1.657 4.176-5.245 10.832-15.416 14.867-10.17 4.035-19.759 3.921-21.416-.255-1.656-4.175 5.246-10.831 15.417-14.866 10.17-4.036 19.758-3.922 21.415.254Zm63.419-15.673c.656 4.445-7.586 9.344-18.411 10.943-10.824 1.598-20.132-.708-20.788-5.152-.657-4.445 7.587-9.344 18.411-10.943 10.825-1.599 20.132.708 20.788 5.152Z"></path>

            <path fill="#12a4c7" fill-rule="nonzero" d="M502.997 405.645s3.447 2.492 4.615 6.895c1.723 6.502 11.083 46.032 11.083 46.032s.663 1.832-1.697 4.401c-2.225 2.423-33.888 36.964-33.888 36.964l-5.462-15.592s18.725-15.835 22.112-30.267c3.387-14.432 7.865-23.527 3.237-48.433Zm10.681-4.265c24.902-18.073 76.179-56.919 106.669-84.514 1.561-1.412 5.178-4.074 1.22-8.42-4.766-5.231-10.036-10.614-10.036-10.614s-47.236 45.084-80.953 70.171c-5.388 4.009-19.066 10.994-32.063 3.49-12.995-7.504-31.634-18.762-31.634-18.762s31.306 35.093 42.137 46.925c1.258 1.375 3.303 2.709 4.66 1.724ZM669.03 230.557l10.737 11.455s2.866 2.231.651 7.167c-2.937 6.545-18.098 28.774-32.999 42.349l-14.103 13.093s-1.592 1.438-3.673-.156c-2.082-1.595-11.504-11.76-11.504-11.76s28.566-28.613 36.511-39.583c8.121-11.213 8.333-11.725 14.38-22.565Zm4.382-8.098s11.366-24.631 8.682-59.498l14.236 13.977s2.937 1.634 3.127 7.925c.18 5.91-4.939 34.003-12.222 49.544 0 0-1.096 1.683-2.617.134-5.438-5.539-11.206-12.082-11.206-12.082Z"></path>
            <g id="rivets">
              <path fill="#1b73a4" fill-rule="nonzero" d="M614.817 191.784a3.357 3.357 0 1 1-6.714 0 3.357 3.357 0 0 1 6.714 0M629.614 211.962a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M663.413 184.385a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M674.679 173.96a3.357 3.357 0 1 1-6.714 0 3.357 3.357 0 0 1 6.714 0M645.918 162.525a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M657.185 152.1a3.357 3.357 0 1 1-6.714 0 3.357 3.357 0 0 1 6.714 0"></path>
              <path fill="url(#_Linear3)" d="M600.557 307.036a3.358 3.358 0 0 0 3.356 3.356 3.358 3.358 0 0 0 3.357-3.356 3.358 3.358 0 0 0-3.357-3.357 3.358 3.358 0 0 0-3.356 3.357Z"></path>
              <path fill="#1b73a4" fill-rule="nonzero" d="M516.111 210.254a3.357 3.357 0 1 1-6.714 0 3.357 3.357 0 0 1 6.714 0M539.102 187.391a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M515.724 324.911a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M534.201 309.708a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M497.666 340.896a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M491.219 295.505a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M509.696 280.302a3.357 3.357 0 1 1-6.714 0 3.357 3.357 0 0 1 6.714 0M473.161 311.49a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M430.087 358.768a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M412.029 374.754a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M449.444 381.807a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M431.385 397.792a3.356 3.356 0 1 1-6.712.002 3.356 3.356 0 0 1 6.712-.002M466.454 427.558a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M478.185 446.915a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M487.57 470.377a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0M389.615 338.402a3.356 3.356 0 1 1-6.715 0 3.356 3.356 0 0 1 6.715 0M370.258 321.391a3.357 3.357 0 1 1-6.714 0 3.357 3.357 0 0 1 6.714 0M347.383 307.901a3.356 3.356 0 1 1-6.712 0 3.356 3.356 0 0 1 6.712 0"></path>
            </g>

          </g>
        </g>
      </g>

    </svg>

    <div class="container text--center pos-abs my-5">
      <h3 class="text--size-3xl text--bold text--white mt-5">Platform UI</h3>
      <p class="text--size-lg">A fast, simple, and powerful CSS framework that's built with user experience in mind</p>
      <div class="flex flex--justify-center">
        <a class="button button--ghost text--white background--white-a30 py-2 px-4 text--size-md hover-scale" href="https://platformui.com">
          Get Started<i class="pi-arrow-right pt-1"></i>
        </a>

      </div>
    </div>

  </div>

  <div class="block-container blocks tablet-up-2 py-5">
    <div class="pos-rel handhold-js block text--center px-4 flex--center-content flex--column">
      <div class="pos-abs pin-bottom pin-right mb-4">
        <div class="pill background--black mr-2">
          <span class="cc-icon"></span>
          <a
            target="_blank"
            class="text--white"
            href="https://thenounproject.com/lokamariella/"
          >
          Loka Mariella
          </a>
        </div>
      </div>
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.63 74.03">
        <defs>
          <style>
            .cls-1 {
              stroke-width: 0px;
            }
          </style>
        </defs>
        <path style="fill: #000" class="cls-1" d="m55.16,39.53c-.76.76-.76,1.98,0,2.74,0,0,0,0,0,0l1.05,1.05,2.75-2.75-1.05-1.05c-.76-.76-1.98-.76-2.74,0,0,0,0,0,0,0Z"/>
        <path style="fill: #000" class="cls-1" d="m48.2,46.49c-.76.76-.76,1.98,0,2.74,0,0,0,0,0,0l1.05,1.05,2.75-2.75-1.05-1.05c-.76-.76-1.98-.76-2.74,0,0,0,0,0,0,0Z"/>
        <path style="fill: #000" class="cls-1" d="m41.24,53.44c-.76.76-.76,1.98,0,2.74,0,0,0,0,0,0l1.05,1.05,2.75-2.75-1.05-1.05c-.76-.76-1.98-.76-2.74,0,0,0,0,0,0,0Z"/>
        <path style="fill: #000" class="cls-1" d="m34.29,60.4c-.76.76-.76,1.98,0,2.74,0,0,0,0,0,0l1.05,1.05,2.75-2.75-1.05-1.05c-.76-.76-1.98-.76-2.74,0,0,0,0,0,0,0Z"/>
        <path style="fill: #000" class="cls-1" d="m64.45,2.77c-7.74-4-16.34-3.66-23,1-.88.61-1.75,1.3-2.63,2-.84-.7-1.71-1.38-2.63-2C29.51-.9,20.9-1.23,13.19,2.77,5.02,7.02,0,14.92,0,23.45,0,28.38,2.32,34.45,6.18,39.56c.12.17.27.3.45.41l-1.12,1.12c-2.53,2.53-2.54,6.64,0,9.18,1.22,1.22,2.87,1.9,4.59,1.9h.51c0,.17-.05.34-.05.51,0,3.58,2.91,6.49,6.49,6.49,0,0,0,0,.01,0h.51c-.27,3.57,2.41,6.68,5.98,6.95,1.86.14,3.69-.53,5.02-1.84l.61-.61c.35.89.9,1.7,1.61,2.35l6.11,6.11c2.54,2.53,6.66,2.53,9.19-.01,1.21-1.22,1.89-2.86,1.9-4.58,0-.17,0-.34-.05-.51h.51c3.59,0,6.5-2.91,6.5-6.5h0c0-.17,0-.34-.05-.51h.51c3.58,0,6.49-2.9,6.5-6.48,0,0,0,0,0-.01,0-.17,0-.34-.05-.51h.51c3.57.02,6.48-2.87,6.5-6.44,0-1.21-.33-2.39-.96-3.42l3.43-3.64.11-.14c3.87-5.15,6.18-11.18,6.18-16.11-.04-8.35-5.07-16.25-13.18-20.5ZM3.15,23.45c0-7.34,4.38-14.2,11.44-17.89,2.92-1.56,6.18-2.39,9.5-2.42,3.67-.01,7.25,1.11,10.26,3.21,2.77,2.01,5.33,4.31,7.63,6.84.31.33.88.85,1.57,1.48,1.14,1,4.16,3.81,4.44,4.6.12,2.08-.31,3.58-1.3,4.46-1.14.82-2.55,1.18-3.94,1l-10.23-10.21c-.62-.62-1.62-.62-2.23,0-.02.02-.03.03-.05.05l-18.61,20.45-2.84,2.78-.09-.14c-3.47-4.64-5.55-9.94-5.55-14.21Zm41.64,44.11c0,.89-.36,1.74-1,2.36-1.32,1.26-3.4,1.26-4.72,0l-6.11-6.11c-1.31-1.31-1.31-3.42,0-4.73,1.31-1.31,3.42-1.31,4.73,0h0l6.1,6.12c.64.62,1,1.47,1,2.36Zm6-4.54c-1.32,1.27-3.41,1.27-4.73,0l-6.11-6.11c-1.31-1.3-1.31-3.42,0-4.72,0,0,0,0,0,0,1.32-1.26,3.4-1.26,4.72,0l6.12,6.06c1.32,1.3,1.34,3.42.04,4.74-.01.01-.03.03-.04.04Zm7.94-9.32c0,1.84-1.51,3.33-3.35,3.33-.9,0-1.75-.37-2.38-1.01l-6.11-6.12c-1.31-1.31-1.31-3.42,0-4.73s3.42-1.31,4.73,0l6.11,6.11c.63.63.98,1.48.98,2.37l.02.05Zm6-4.59c-1.3,1.31-3.42,1.31-4.72,0,0,0,0,0,0,0l-6.11-6.11c-1.31-1.31-1.31-3.42,0-4.73,1.31-1.31,3.42-1.31,4.73,0l6.11,6.11c1.31,1.3,1.31,3.42,0,4.72,0,0,0,0,0,0Zm4.25-11.46l-3.19,3.3-5-5c-2.54-2.52-6.63-2.5-9.15.04-1.34,1.35-2.02,3.22-1.85,5.12-3.47-.39-6.61,2.11-7,5.58-.05.47-.05.95,0,1.42-3.49-.35-6.61,2.19-6.97,5.69-.02.23-.03.47-.03.7,0,.17,0,.34.05.51-2.87-.26-5.57,1.43-6.57,4.14-.1.05-.2.12-.29.19l-2.61,2.61c-1.31,1.31-3.42,1.31-4.73,0-1.31-1.31-1.31-3.42,0-4.73h0l6.15-6.11c.58-.65.51-1.65-.14-2.23-.6-.53-1.49-.53-2.09,0l-6.13,6.14c-1.31,1.31-3.42,1.31-4.73,0s-1.31-3.42,0-4.73l6.09-6.13c.65-.58.72-1.58.14-2.23s-1.58-.72-2.23-.14c-.05.04-.1.09-.14.14l-6.09,6.09c-1.44,1.15-3.54.91-4.69-.53-.97-1.22-.97-2.96.01-4.18l6.16-6.16,17.51-19.24,9.45,9.46c.22.23.51.38.82.44.17,0,4.24.76,7-1.69,1.76-1.55,2.56-3.91,2.37-7-.09-1.58-1.76-3.36-5.46-6.74-.62-.56-1.13-1-1.4-1.32-.89-.95-1.95-2-3.11-3.12.69-.56,1.37-1.09,2.05-1.56,5.7-4,13.09-4.27,19.76-.79,7.06,3.69,11.45,10.54,11.44,17.89.05,4.22-2.01,9.54-5.45,14.11l.05.06Z"/>
        <path style="fill: #000" class="cls-1" d="m9.06,44.02c-.65.85-.48,2.07.37,2.72.7.53,1.67.53,2.36,0l1.05-1.05-2.75-2.75-1.03,1.09Z"/>
        <path style="fill: #000" class="cls-1" d="m16.01,50.94c-.76.77-.75,2.01.01,2.76.77.76,2.01.75,2.77-.01l1-1.06-2.75-2.75-1.03,1.06Z"/>
        <path style="fill: #000" class="cls-1" d="m22.97,57.89c-.76.76-.76,1.99,0,2.75s1.99.76,2.75,0l1.07-1.05-2.75-2.75-1.07,1.05Z"/>
      </svg>
      <h3 class="text--size-3xl m-0">handhold.JS</h3>
      <p class="container" style="--container-width: 60ch;">
        A configurable JavaScript hand held walk-through for user interfaces.
      </p>

      <div class="block-container">
        <div class="block my-3">
          <code class="p-3 rounded-1">Look for it on npm soon!</code>
        </div>
        <div class="block mt-3">
          <a class="button text--white background--black py-2 px-4 text--size-md hover-scale"
            target="_blank"
            href="https://github.com/ritterim/handholdJS#readme"
          >
          Get started<i class="pi-arrow-right pt-1"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="skelly-css block text--center text--white px-4 linear-gradient"
      data-gradient-direction="45deg"
      data-gradient-start="#222 40%"
      data-gradient-stop="#dimgrey"
      data-gradient-fallback="#222">
      <svg class="w-25" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 287.65 141.61">
        <defs>
          <style>
            .cls-1 {
              fill: #fff;
              stroke-width: 0px;
            }
          </style>
        </defs>
        <path class="cls-1" d="m287.44,88.67C273.42,36.38,226.04.01,171.9,0c-3.31,0-6,2.69-6,6v53.79h-16.71V24.62c0-5.52-4.48-10-10-10s-10,4.48-10,10v35.12h-16.66v-20.56c0-5.52-4.48-10-10-10s-10,4.48-10,10v20.59h-16.84v-13.67c0-2.12-1.15-4.08-3-5.13L9.28,4.34C5.22,1.99,0,4.46,0,9.27c.01,24.18,11.38,46.94,30.7,61.48C11.39,85.29.02,108.05,0,132.23c.06,3.31,2.79,5.95,6.11,5.89.98-.02,1.95-.28,2.8-.75l63.42-36.62c2.01-1.05,3.29-3.1,3.36-5.36v-15.65h16.84v22.88c0,5.52,4.48,10,10,10s10-4.48,10-10v-22.88h16.66v36.65c0,5.52,4.48,10,10,10s10-4.48,10-10v-36.65h16.76v55.94c0,3.28,2.67,5.94,5.95,5.93.02,0,.03,0,.05,0,42.76,0,83.76-16.98,114-47.21,1.48-1.51,2.05-3.69,1.49-5.73Zm-69-2.19c-8.66,0-15.68-7.02-15.68-15.68s7.02-15.68,15.68-15.68,15.68,7.02,15.68,15.68h0c0,8.66-7.01,15.67-15.67,15.68h0Z"/>
      </svg>
      <h3 class="text--size-2xl m-0">
        SkellyCSS
      </h3>
      <p class="container" style="--container-width: 60ch;">
        A light-weight CSS framework to quickly implement skeletons into your projects.
      </p>
      <div class="block-container">
        <div class="block my-3">
          <code class="p-3 rounded-1">npm i @ritterim/skellycss</code>
        </div>
        <div class="block mt-3">
          <a class="button text--black py-2 px-4 text--size-md hover-scale"
            target="_blank"
            href="https://github.com/ritterim/skellyCSS#readme"
          >
          Get started<i class="pi-arrow-right pt-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="block-container">
    <div class="block filter p-5">
      <div class="container text--center">
        <h3 class="text--uppercase text--size-2xl mb-0">Filter</h3>
        <span class="text--size-lg">The classy way to filter collections.</span>
        <p class="container" style="--container-width: 60ch;">
          A library that allows an IEnumerable to be filtered using either a
          typed or anonymous class.
        </p>
        <div class="block-container">
          <div class="block my-3">
            <code class="p-3 rounded-1">dotnet add package RimDev.Filter</code>
          </div>
          <div class="block mt-3">
            <a class="button text--white py-2 px-4 text--size-md hover-scale"
              target="_blank"
              href="https://github.com/ritterim/filter#readme"
            >
            Get started<i class="pi-arrow-right pt-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</MainLayout>

<style lang="scss">
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Just+Another+Hand&family=Monoton&family=Concert+One&display=swap');

  .platform-ui {
    background: #1C0D3F;
    min-height: 500px;
    svg {
      background-size: cover;
    }
    code {
      background: ingigo;
      border: 2px solid darkorange;
      color: white;
    }
  }

  .skelly-css {
    h3 {
      font-family: 'Josefin Slab', serif;
      color: darkorange;
    }
    code {
      background: black;
      border: 2px solid darkorange;
      color: white;
    }
    .button {
      background-color: darkorange;
    }
  }

  .handhold-js {
    background: chartreuse;
    color: black;
    svg {
      width: 15vw;
      max-height: 15vh;
    }
    h3 {
      font-family: 'Just Another Hand', cursive;
      color: black;
      line-height: 1;
    }
    code {
      background: white;
      border: 2px solid black;
      color: black;
    }
    .cc-icon {
      border-radius: 100%;
    }
  }

  .filter {
    background: linear-gradient(
      45deg,
      red 0 5vw,
      orange 5vw 10vw,
      yellow 10vw 15vw,
      khaki 15vw 100vw );

    // background: khaki;
    color: darkred;
    h3 {
      color: red;
      font-family: 'Monoton', cursive;
    }
    span {
      font-family: 'Concert One', cursive;
    }
    code {
      background: white;
      border: 2px solid red;
      color: red;
    }
    .button {
      background-color: red;
    }
  }
</style>
